<form class="form">
    <app-input inputLabel="Name" placeholderr="Dupon"></app-input>
    <app-input inputLabel="Phone" type="Phone" placeholderr="01 23 45 67..."></app-input>
    <app-input inputLabel="Email" type="Email" placeholderr="email@email.com..."></app-input>
    <app-input inputLabel="Password" type="password" placeholderr="Enter password"></app-input>
    <app-input inputLabel="Confirm your password" type="password" placeholderr="confirm your password"></app-input>
    <app-button name="Sign in" color="primary"></app-button>
</form>