<div class="signin">
    <P>Nice to see you again</P>
    <!-- <form class="form"> -->
    <form class="form" [formGroup]="loginForm" (ngSubmit)="auth()">
        <app-input ></app-input>
        <app-input inputLabel="Password" type="password" placeholderr="Enter password"></app-input>
<!--         <input type="text" formControlName="username" placeholder="Enter Username">
        <input type="password" formControlName="password" placeholder="Enter Password"> -->
        <div class="rememberForget">
            <div class="rememberme">
                <label class="switch">
                    <input type="checkbox" class="inp" id="rememberme">
                    <span class="slider round"></span>
                </label>
                <label for="rememberme" class="remember-text"> Remember me</label>
            </div>
            <div class="forgetpassword">
                <a routerLink="/forget_password">forgot password?</a>
            </div>
        </div>
        <app-button name="Sign in" color="primary" routerLink="/connected"></app-button>

            <!-- <button type="submit" class="btn primary"><span>Sign in</span></button> -->
    </form>
</div>
<div class="line"></div>
<app-button name="Or sign in with Google" googleicon="assets/logos/Other-Pay-Method.png"
    color="secondary"></app-button>
<div class="noaccount">
    <span>Dont have an account?</span><a routerLink="/signup">Sign up now</a>
</div>