.navigation {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    color: white;
    margin: 0;
    background-color: #1E1F24;
    img {
        width: 64px;
        height: 64px;
        padding: 1em;
    }
}