<div class="left">
    <img src="assets\images\bateau.jpg" alt="image">
</div>

<div class="right">
    <div class="top">
        <div class="icon">
            <img src="assets/logos/Avatar-UI-Unicorn-V2.png" alt="logo" class="logo">
            <img src="assets/logos/UI-Unicorn.svg" alt="UI-Unicorn">
        </div>
        <div class="signin">
            <P>Nice to see you again</P>
            <form action="POST" class="form">
                

                <!-- <app-input></app-input> -->
                
                <div class="login">
                    <label for="login" class="login">Login</label>
                    <input type="text" id="login" placeholder="Email or phone number">
                </div>
                <div class="password">
                    <label for="password" class="password">Password</label>
                    <input type="password" id="password" placeholder="Enter password">
                </div>

                <div class="rememberForget">
                    <div class="rememberme">

                        <label class="switch">
                            <input type="checkbox" class="inp" id="rememberme">
                            <span class="slider round"></span>
                        </label>
                        <label for="rememberme" class="remember-text"> Remember me</label>

                    </div>
                    <div class="forgetpassword">
                        <a routerLink="forgetpw">forgot password?</a>
                    </div>
                </div>

                <!-- <button type="submit" class="btn">Sign in</button> -->
                <app-button name="sign in" color="primary"></app-button>
            </form>
        </div>

        <div class="line">

        </div>
        
        <app-button name="Or sign in with Google" color="secondary"></app-button>

        <div class="noaccount">
            <span>Dont have an account?</span><a routerLink="/signup">Sign up now</a>
        </div>
    </div>
</div>