<div class="left">

</div>

<div class="right">
    <div class="top">
        <div class="icon">
            <img src="" alt="">
            <p>UI Unicorn</p>
        </div>
        <div class="form">
            <P>Nice to see you again</P>
            <form action="POST">
                <label for="login">Login</label>
                <input type="text" id="login">

                <label for="password">Password</label>
                <input type="text" id="password">

                <div class="rememberme">
                    <input type="checkbok" id="rememberme">
                    <label for="rememberme">remember me</label>
                </div>
                <div class="forgetpassword">
                    <p>forgot password?</p>
                </div>
                <button type="submit" class="btn">Sign in</button>
            </form>
        </div>

        <hr>

        <div class="googlesignin">
            <button>Or sign in with Google</button>
        </div>

        <div class="noaccount">
            <span>Dont have an account?</span><a href="">Sign up now</a>
        </div>
    </div>

    <div class="bottom">

    </div>
</div>