.sidebar {
    display: flex;
    width: max-content;
    background-color: #1E1F25;
    height: calc(100vh - 100px);
    .menu {
        width: 64px;
        height: 64px;
        padding: 1em;
        align-items: center;
        ul{
            display: flex;
            align-items: center;
            flex-direction: column;
            padding-left: 0;
            margin-top: 200px;
            li {
                list-style: none;
                cursor: pointer;
                margin: 1em auto;
            }
        }
        
    }

}