.profile{
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 20px 0;
    font-family: SF-Pro-Display-Light;
    div .avatar {
        vertical-align: middle;
        width: 70px;
        height: 70px;
        border-radius: 50%;
        }
    .user{
        color: white;
    }
    .time{
        color: #a1a2a4;
    }

}
