.page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    @media (max-width: 1000px) {
        display: grid;
        grid-template-columns: 0fr 1fr;
    }
    .top{
        margin: 48px;
    }
    .field{
        margin: 0 48px;
    }
}