.page{
    display: grid;
    grid-template-columns: 2fr 1fr;
    @media (max-width: 1000px) {
        display: grid;
        grid-template-columns: 0fr 1fr;
    }
    .container-right{
        transition-duration: 0.5s;
        .up{
            margin: 48px;
        }
        .down{
            margin: 0 48px;
        }
    }
}