@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

@font-face{
    font-family: 'SF-Pro-Display-Light';

    src: url("assets/font/SF-Pro-Display-Light.woff") format("woff");
}

html,body{
    margin: 0;
    padding: 0;
}

app-root {
    display: grid;
    grid-template-columns: 2fr 1fr;

    
    @media (max-width: 1000px) {
        display: grid;
        grid-template-columns: 0fr 1fr;
    }
}