@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&family=Roboto&display=swap');

@font-face{
    font-family: 'SF-Pro-Display-Light';

    src: url("assets/font/SF-Pro-Display-Light.woff") format("woff");
}

html,body{
    margin: 0;
    padding: 0;
}

app-root {
    display: grid;
    grid-template-columns: 2fr 1fr;

    
    @media (max-width: 1000px) {
        display: grid;
        grid-template-columns: 0fr 1fr;
    }

    .left{
        max-height: 100vh;
        img {
            width:100%;
            height:100%;
            display:block;
        }
    }

    .right{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 48px;
        .top{
            display: flex;
            flex-direction: column;
            .icon{
                display: flex;
                flex-direction:row;
                margin-bottom: 48px;
                .logo{margin-right: 10px;}
            }
            .signin{
                display: flex;
                flex-direction:column;
                p{

                    font-family: 'Poppins';
                    font-style: normal;
                    font-weight: 900;
                    letter-spacing: -2px;
                    font-size: 30px;
                    color: #1A1A1A;
                    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                }
                .form{
                    display: flex;
                    flex-direction:column;
                    .login, .password{
                        display: flex;
                        flex-direction:inherit;
                        margin-bottom: 8px;
                        font-family: SF-Pro-Display-Light;
                        label{
                            margin-left: 10px;
                            font-size: small;
                        }
                        input{
                            line-height:48px;
                            border-radius: 6px;
                            background-color: #f2f2f2;
                            text-indent: 10px;
                            border:0;
                            margin-bottom: 16px;
                            font-family:"Roboto";
                            font-weight: 400;
                        }
                    }
                    .rememberForget{
                        margin-top: 4px;
                        margin-bottom: 32px;
                        display: flex;
                        flex-direction:row;
                        justify-content: space-between;
                        .rememberme{
                            .switch {
                                position: relative;
                                display: inline-block;
                                width: 40px;
                                height: 20px;
                            }
                            .switch .inp { 
                                opacity: 0;
                                width: 0;
                                height: 0;
                            }
                            .slider {
                                position: absolute;
                                cursor: pointer;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: #f2f2f2;
                                -webkit-transition: .4s;
                                transition: .4s;
                            }
                            .slider:before {
                                position: absolute;
                                content: "";
                                height: 18px;
                                width: 18px;
                                left: 0px;
                                bottom: 1px;
                                background-color: white;
                                -webkit-transition: .4s;
                                transition: .4s;
                            }
                            .inp:checked + .slider {
                                background-color: #2196F3;
                            }
                            .inp:focus + .slider {
                                box-shadow: 0 0 1px #2196F3;
                            }
                            .inp:checked + .slider:before {
                                -webkit-transform: translateX(26px);
                                -ms-transform: translateX(26px);
                                transform: translateX(26px);
                            }
                              /* Rounded sliders */
                            .slider.round {
                                border-radius: 34px;
                            }
                            .slider.round:before {
                                border-radius: 50%;
                            }

                            .remember-text{
                                font-family: SF-Pro-Display-Light;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 20px;
                                text-align: left;
                                margin-left: 8px;
                            }
                        }
                        .forgetpassword{
                            a{
                                text-decoration: none;
                                color: #007AFF;
                                font-family: SF-Pro-Display-Light;
                                font-size: 16px;
                                font-weight: 400;
                                line-height: 20px;
                                text-align: left;

                            }
                        }
                    }
                    .btn{
                        height: 40px;
                        margin-top:16px;
                        background-color: #007AFF;
                        color: white;
                        border: 0;
                        border-radius: 6px;
                        font-family: Roboto;
                        font-size: 15px;
                        font-weight: 700;
                        line-height: 20px;
                        letter-spacing: 0.30000001192092896px;
                        text-align: center;
                    }
                }
            }
            .line{
                display: flex;
                background-color: #E5E5E5;
                height: 1px;
                margin: 32px 0;
            }
            .googleLink{
                display: flex;
                background-color: #333333;
                height:40px;
                color: white;
                text-decoration: none;
                justify-content: center;
                border-radius: 6px;
                font-family: SF-Pro-Display-Light;
                font-size: 12px;
                font-weight: 400;
                line-height: 20px;
                letter-spacing: 0.30000001192092896px;
                text-align: center;

                img, span{
                    font-family: SF-Pro-Display-Light;
                    align-self: center;
                    padding-right: 8px;
                }
            }
            .noaccount{
                font-family: SF-Pro-Display-Light;
                display: flex;
                margin-top: 24px;
                justify-content:center;
                span{
                    margin-right: 8px;
                }
                a{
                    text-decoration: none;
                    color: #007AFF;
                    ;
                }
            }
        }
    }
}